.btn-like:hover{
    border-radius: 8px;
    padding-left: 6px;
    transition: all 2s;
    background-color: #e6e6e6 !important;
    opacity: 50;
}
.btn-like:hover span{
}
.btn-like{
    border: none !important;
    outline: none !important;
}
.btn-like span{
    transform: scaleX(-1);
}
@media (min-width: 768px) {
    main {
        margin-top: 200px  !important;
    }
}
@media (min-width: 992px) {
    main {
        margin-top: 130px  !important;
    }
}
@media only screen and (min-width: 1200px) {
  main {
    margin-top: 100px !important;
  }
}
main{
    margin-top: 200px ;
}

@media only screen and (min-width: 1200px) {
    #rolante_left, #rolante_right{
        position: sticky !important;
        top: 100px !important;
    }
}
#rolante_left, #rolante_right{
    position: inherit;
    top: 0;
}
.action{
    cursor: pointer !important;
}
.action:hover{
    background-color: #e6e6e6 !important;

    opacity: 40;
}


